The effect variables can have on the price of a used car.

This project is purposed for showing how the energy source of a used vehicle can affect its resale price reflecting customer buying trends depending on the fuel type of the vehicle. Also, to show the direct relationship between resale price and the odometer mileage showing how customers view wear and tear as a factor when purchasing a used vehicle.

In [17]:
import pandas as pd
import plotly.express as px
import streamlit as st
df= pd.read_csv('../vehicles_us.csv')

In [18]:
#check to see overview of dataset
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

Will be using only price, odometer, and fuel columns.

In [19]:
columns_kept= ['price', 'fuel', 'odometer', 'condition']
filtered_df= df[columns_kept]
print(filtered_df.head())
#check to see different fuel types
uf= df['fuel'].unique()
print(uf)

   price fuel  odometer  condition
0   9400  gas  145000.0       good
1  25500  gas   88705.0       good
2   5500  gas  110000.0   like new
3   1500  gas       NaN       fair
4  14900  gas   80903.0  excellent
['gas' 'diesel' 'other' 'hybrid' 'electric']

Now to create smaller df including only price and fuel, removing all missing and duplicate values.

In [20]:
first_columns= ['price', 'fuel']
first_df= df[first_columns]
cleaned_df1= first_df[['price', 'fuel']].drop_duplicates().dropna()
print(cleaned_df1.sample(10))
#checking for duplicates
dup_df1= cleaned_df1[cleaned_df1.duplicated()]
print(dup_df1)

       price    fuel
45761   7289     gas
45815  34599     gas
25944  19977  diesel
39979  12875     gas
5951   13877     gas
6403   39000     gas
8360    8975     gas
6323   14900  diesel
925     4495     gas
5624   22933     gas
Empty DataFrame
Columns: [price, fuel]
Index: []

In [ ]:

#Histogram depicting price and fuel type correlation with checkboxes
selected_fuel = []
for fuel in uf:
    if st.checkbox(fuel):
        selected_fuel.append(fuel)

if selected_fuel:
    filtered_data= cleaned_df1[cleaned_df1['fuel'].isin(selected_fuel)]
    fig= px.histogram(filtered_data, x='price', color='fuel', title='Price Distribution by Fuel Type', barmode='overlay')
    st.plotly_chart(fig)
else:
    st.warning('Please select a fuel type.')

The analysis show that there is no correlation to the fuel type and resale price of vehicles. This is mostly because of the lack of inventory of vehicles without the fuel type 'gas.'

Now for the second plot. Price vs. odometer reading

In [22]:
#resetting odometer category to include the median according to their condition for a bigger dataset
#the condition of the vehicle will have a strong relationship to the miles on the vehicle
df['odometer'] = df['odometer'].fillna(df.groupby(['condition'])['odometer'].transform('median'))

#creating new dataframe to with price and odometer to remove all duplicates and missing values
second_columns= ['price', 'odometer']
second_df= df[second_columns]
cleaned_df2= second_df[['price', 'odometer']].drop_duplicates().dropna()
print(cleaned_df2.sample(10))

#checking for duplicates
dup_df2= cleaned_df2[cleaned_df2.duplicated()]
print(dup_df2)

       price  odometer
22992   4500  133081.0
7482   29995   73248.0
32824   1599  104230.0
17145  18495  184325.0
4066   12500   33200.0
6686     750  294500.0
32006  29500   30053.0
41382   9900  126000.0
21635   4300  165000.0
30527   6495  148868.0
Empty DataFrame
Columns: [price, odometer]
Index: []

In [ ]:
#Scatterplot of price vs. odometer mileage using st.write 
fig = px.scatter(cleaned_df2, x='odometer', y='price', title='Price vs Odometer', labels={'odometer': 'Odometer (miles)', 'price': 'Price ($)'})
st.write(fig)

The data exploration of this dataset shows a negative correlation between the odometer reading of a used car and the resale price.